# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

test*.py

# IDE 文件
.idea/
.vscode/
*.swp
*.swo

# 配置文件
config.json 
data/

# 日志文件
logs/
*.log 

# Build临时文件

*.spec

# 其他文件

测试报告.md
QQ群规.txt